:root {
    --text-color: black;
}


.links a{
    text-align: justify;
    margin: 15px;
    font-size: 17px;
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}
