.results-section {
    margin: auto;
    background-color: aqua;
}

.results-section button {
    width: 200px;
}

.editor {
    margin: auto;
    height: 100%;
    max-width: 1300px;
    margin: auto;
}
